#commentContainer {
  display: grid;
  gap: 1rem;
  padding-block: 2rem;
  width: 80%;
  margin-inline: auto;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  background: transparent;
}

.comment {
  /* font-size: var(--fs-400); */
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  /* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25); */
  z-index: 0;
}

.comment > p:first-child{
  font-size: 5em;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
}

.comment > h2 {
  margin-bottom: 1em;
  color: var(--color-light);
}

.comment > p:last-child{
  font-size: larger;
  margin-right: 50px;
}


.strong-country {
  color: var(--color-laccent);
  font-size: x-large;
}

fieldset {
  width: 60%;
  margin-top: 1%;
  margin-inline: auto;
  padding: 1em 2em;
  border-radius: 20px ;
  border: 2px solid var(--color-daccent);
}

legend {
  font-size: 1.3em;
  background-color: var(--color-daccent);
  border: 2px solid var(--color-maccent);
  border-radius: 5px;
  padding: 5px;
}

fieldset > div:not(:last-child) {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--color-daccent);
  border-radius: 10px;
  margin: 10px;
}

fieldset > div:not(:last-child) > * {
  margin: 10px;
  flex: 1 1 280px;
  font-size: medium;
  min-width: 300px;
}

div > label:first-child{
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
}

fieldset > div:last-child{
  display: flex;
  justify-content: center;
}

input[type='submit'],
input[type='reset'] {
  font-size: large;
  min-width: 100px;
  margin: 0px 10px;
  border: 0;
  border-radius: 10px;
  font-size: larger;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-laccent);
  cursor: pointer;
}

.emoji > label {
  display: inline-block;
  font-size: x-large;
  margin-right: 0.5em;
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(50%);
}

.emoji {
  min-height: 3em;
}

.emoji > label:hover {
  transform: translateY(10%);
}

.hidden {
  position: relative;
  display: block;
  transform: translateX(100px) translateY(-30px);
  z-index: -1;
}

#emoji7 {
  border: 1px solid var(--color-maccent);
  padding: 3px 10px;
  border-radius: 10px;
}

select, textarea, input[type='text'], option {
  color: var(--color-daccent);
  background-color: var(--color-light);
  padding: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 1024px){

  div > label:first-child,
  div > * {
    text-align: center;
    padding-right: unset;
  }
}

@media only screen and (max-width: 500px){

  div > label:first-child,
  div > * {
    text-align: center;
    padding-right: unset;
    margin: 0px;
  }
  
  fieldset > div > * {
    font-size: small;
    min-width: unset;
  }
}