.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-daccent);
  z-index: 99;
}

.logo{
  font-size: var(--fs-m);
  margin: var(--p-s) var(--p-l);
}

.logo > a {
  text-decoration: none;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: var(--fs-s);
}

.navbar-links li:hover {
  background-color: var(--color-dark);
}

.toggle-button {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
}

.burger {
  border: 1px solid var(--color-dark);
  background-color: var(--color-light);
  padding: 2px 10px;
  margin-top: 3px;
  border-radius: 2px;
}

.burger:nth-child(2){
  background-color: var(--color-laccent);
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}