.row {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px var(--color-light); */
  /* border: 5px solid var(--color-daccent); */
  border-radius: 5px;
}

.image > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: relative;
  vertical-align: top;
  transition: 0.3s;
  transition-property: opacity;
}

.image > img:hover {
  opacity: 0.8;
}

.image .details {
  background-color: var(--color-dark);
  height: 15%;
  width: 100%;
  padding: 5px 10px;
  position: relative;
  bottom: 15%;
  transition: 0.5s;
  transition-property: bottom height;
}

.image:hover .details {
  height: 45%;
  bottom: 45%;
  opacity: 0.95;
}

.image .details h2 {
  margin: 0px var(--p-l);
  font-size: var(--fs-m);
  text-transform: uppercase;
  transition: 0.5 s;
  transition-property: transform;
  color: var(--color-laccent)
}

.image:hover .details p {
  opacity: 1;
}

.image .details p {
  margin: 0px var(--p-l);
  opacity: 0;
}

/* LAYOUT IN DEVICES BIGGER THAN IPHONE SE */
@media only screen and (min-width: 768px){
  .row {
    width: 80%;
  }

  .image {
    height: 400px;
    max-width: 350px;
  }

  .image:hover .details {
    height: 60%;
    bottom: 60%;
  }

}