.row {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  border-radius: 5px;
}

.image > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  vertical-align: top;
}

.image .details {
  background-color: var(--color-dark);
  height: 15%;
  width: 100%;
  padding: 5px var(--p-l);
  position: relative;
  bottom: 15%;
  transition: 0.5s;
  transition-property: bottom height;
}

.image:hover .details {
  height: 50%;
  bottom: 50%;
  opacity: 0.95;
}

.image .details h2 {
  font-size: var(--fs-m);
  text-transform: uppercase;
  transition: 0.5 s;
  transition-property: transform;
  color: var(--color-laccent)
}

.image:hover .details p {
  opacity: 1;
}

.image .details p {
  opacity: 0;
}

.redirectBtn{
  padding: 2px 5px;
  margin-top: 10px;
  background-image: linear-gradient(var(--color-maccent), var(--color-laccent), var(--color-maccent));
  color: var(--color-dark);
  font-size: var(--fs-s);
  border: 0;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

/* LAYOUT IN DEVICES BIGGER THAN IPHONE SE */
@media only screen and (min-width: 768px){
  .row {
    width: 80%;
  }

  .image {
    height: 400px;
    max-width: 350px;
  }

  .image:hover .details {
    height: 65%;
    bottom: 65%;
  }

}